<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Static Page</title>
</head>
<body>
    <p>Welcome to Node.js <%=name%></p>
    <img src="node-logo.png" width="100" height="100" alt="Node.js logo">
</body>
</html>